<div class="container">

      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">登陆</h2>
        <div class="row">
            <div class="col-md-4">
                <input name="username" type="text" class="form-control" placeholder="用户名">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input name="password" type="password" class="form-control" placeholder="密码">
            </div>
        </div>
        <label class="checkbox">
          <input name="isSave" type="checkbox" value="remember-me"> 记住密码
        </label>
        <button class="btn btn-large btn-primary" type="submit">提交</button>
        <a href="/reg">注册账号？</a>
      </form>

</div> <!-- /container -->
